extends layout

block content
  section.bg-white.about(style="height: 1000px")
    .container
      .row
        .col-xs-12.text-center
          h2.mt-0 Sobre

          p.mt-40.text-center asdaosdfnashdjfnakdhnfakhnfkahjdnfakdhnfkashnfkahf.