extends layout

block content
  .container.home.text-center
    .home-call
      h1.mb-5.pull-left Chega de enviar seus trabalhos
      img.pull-right.mr-30(src="/img/como-anexo.png", border="0", alt="Como anexo")
      h1.mt-15.pull-right para os clientes...

    .btn.btn-lg.btn-free-test.mt-20.mb-90 COMEÇE AGORA E TESTE GRÁTIS

  section.avaliacao
    .container
      .row
        .col-xs-5
          img.pull-right(src="/img/icon-avaliacao.png", border="0")
        .col-xs-7
          h2.mt-0 Facilita a avaliação
          p
            | Cada job terá uma página própria 
            br.visible-lg
            | e única para avaliação.

  section.valoriza
    .container
      .row
        .col-xs-5
          img.pull-right.mr-30(src="/img/diamond.png", border="0")
        .col-xs-7
          h2.mt-0 Valoriza o seu trabalho
          p
            | Agrega mais profissionalismo ao seu 
            br.visible-lg
            | job que já está perfeito!

  section.inteligente
    .container
      .row
        .col-xs-5
          img.pull-right.mr-40(src="/img/!mail.png", border="0")
        .col-xs-7
          h2.mt-0 Inteligente
          p
            | A cada ação relacionada ao Job, você
            br.visible-lg
            | recebe notificações por e-mail.

  section.como-funciona.bg-white
    .container
      .row
        .col-xs-12.text-center
          h2.mt-0 Como funciona

      .row
        .col-xs-12
          ol.funciona-steps.light.mt-30.mb-20
            li Adicione um job;
            li Adicione um cliente;
            li Monte a proposta para o cliente;
            li Envie a proposta;
            li Aguarde a aprovação!

      .row
        .col-xs-12.text-center
          .btn.btn-lg.btn-free-test.mt-20.mb-40 EXPERIMENTE GRÁTIS

  footer
    .container
      .row
        .col-xs-12.col-md-4 1
        .col-xs-12.col-md-4 2
        .col-xs-12.col-md-4 3