extends layout

block content
  section.bg-white.testimonials
    .container
      .row
        .col-xs-12.text-center
          h2.mt-0 Preços
          p.lead.text-center Veja os planos abaixo, e escolha o que melhor se adapte a sua necessidade.

      .row.mt-40
        .col-xs-4
          .jumbotron.text-center
            h2 Plano 1
            p asldaosdkasdok
            p
              .btn.btn-block.btn-primary Selecionar

        .col-xs-4
          .jumbotron.text-center
            h2 Plano 2
            p asldaosdkasdok
            p
              .btn.btn-block.btn-primary Selecionar

        .col-xs-4
          .jumbotron.text-center
            h2 Plano 3
            p asldaosdkasdok
            p
              .btn.btn-block.btn-primary Selecionar