body {
  background: url('../img/bg-man.jpg') repeat-x top center;
  /*background-size: cover;*/
  font-family: 'open_sanslight', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #ff7e00;
}

.light {
  font-family: 'open_sanslight', sans-serif !important;
}

.regular {
  font-family: 'open_sansregular', sans-serif !important;
}

.semibold {
  font-family: 'open_sanssemibold', sans-serif !important;
}

.white {
  color: #ffffff;
}

header {
  font-family: 'open_sansregular', sans-serif;
  padding: 27px 0;
}

header nav a {
  color: #ffffff;
  text-transform: uppercase;
}

.nav>li>a:hover, .nav>li>a:focus {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background: #ffffff;
  color: #000000;
}

.btn-transparent {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-transparent:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.btn-free-test {
  background: #ff7e00;
  color: #ffffff;
}

.home-call {
  color: #ffffff;
  height: 270px;
  margin: 120px auto 0;
  width: 660px;
}

.home-call h1 {
  font-size: 40px;
}

.home-call .big {
  font-size: 90px;
  font-style: italic;
}

.home .btn-free-test {
  font-size: 16px;
  margin: 0 auto;
  padding: 18px 30px;
}

footer {
  background: #1c1f26;
  color: #737373;
  font-size: 15px;
  padding: 60px 0;
}

footer ul {
  list-style: none;
}

footer ul li.title {
  color: #ff7e00;
  font-size: 16px;
}

footer .logo-footer {
  opacity: 0.5;
}

@media(max-width: 640px) {
  footer .app-footer {
    margin-bottom: 30px;
    margin-top: 0 !important;
  }
  footer .app-footer, footer .app-footer p {
    text-align: center;
  }
}

section {
  padding: 90px 0;
}

section h2 {
  font-size: 40px;
}

section p {
  color: #737373;
  font-size: 24px;
}

section.bg-white {
  background: #ffffff;
}

section.avaliacao {
  background: #1d2128;
}

section.avaliacao h2, section.inteligente h2 {
  color: #ffffff;
}

section.inteligente p {
  color: #aeaeae;
}

section.inteligente {
  background: #26211b;
}

section.inteligente p {
  color: #aeaeae;
}

.funciona-steps {
  font-size: 24px;
  margin: 0 auto;
  width: 400px;
}

.recommend-plan {
  background: #ff7e00;
  color: #ffffff;
}

.recommend-plan p {
  color: #ffffff;
}

.recommend-plan ul {
  color: #737373;
}