@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section class="different-section">
    <div class="container text-center">
        <h1 class="semibold white mb-20 mt-0">Fale o que pensa, ouviremos com prazer!</h1>
        <h5 class="white mt-40">
            contato@avalie-me.com | Tel.: 11 0 0000.0000
        </h5>
    </div>
</section>
<section class="bg-white contact">
    <div class="container text-center">
    <h2 class="mt-0">Contato</h2>
        <div class="row mt-40">
            <div class="col-xs-12 col-md-3"></div>
            <div class="col-xs-12 col-md-6">
                <form role="form">
                    <div class="form-group">
                    <input type="text" placeholder="Seu nome" class="form-control"/>
                    </div>
                    <div class="form-group">
                    <input type="email" placeholder="Seu e-mail" class="form-control"/>
                    </div>
                    <div class="form-group">
                    <input type="text" placeholder="Assunto" class="form-control"/>
                    </div>
                    <div class="form-group">
                    <textarea rows="3" placeholder="Mensagem" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default pull-right">Enviar</button>
                </form>
            </div>
            <div class="col-xs-12 col-md-3"></div>
        </div>
    </div>
</section>