@{
    ViewBag.Title = "Depoimentos";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section class="bg-white testimonials">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="mt-0">Depoimentos</h2>
        </div>
        <div class="col-xs-12 text-center">
            <blockquote class="mt-40">
                <p>Antes, todos os meus trabalhos demoravam muito para serem aprovados, devido a dificuldade que encontrava em enviá-los por e-mail, etc.<small>Thiago Andrade</small></p>
            </blockquote>
            <blockquote class="mt-40">
                <p>Agora eu consigo faturar muito mais rápido. O Avalie.me trouxe agilidade no processo de aprovação!<small>Augusto César</small></p>
            </blockquote>
            <blockquote class="mt-40">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.<small>Kaio Moreira</small></p>
            </blockquote>
        </div>
    </div>
    </div>
</section>