@{
    ViewBag.Title = "Chega de enviar seus trabalhos como anexo para os clientes!";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

    <div class="container home text-center">
        <div class="home-call">
            <h1 class="mb-5 pull-left">Chega de enviar seus trabalhos</h1>
            <img src="~/Content/sitefiles/img/como-anexo.png" border="0" alt="Como anexo" class="pull-right mr-30"/>
            <h1 class="mt-15 pull-right">para os clientes...</h1>
        </div>
        @Html.ActionLink("COMECE AGORA E TESTE GRÁTIS", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-lg semibold btn-free-test mt-20 mb-90" })
    </div>
    <section class="avaliacao">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <img src="~/Content/sitefiles/img/icon-avaliacao.png" border="0" class="pull-right"/>
                </div>
                <div class="col-xs-7">
                    <h2 class="mt-0">Facilita a avaliação</h2>
                    <p>Cada job terá uma página própria <br class="visible-lg"/>e única para avaliação.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="valoriza">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <img src="~/Content/sitefiles/img/diamond.png" border="0" class="pull-right mr-30"/>
                </div>
                <div class="col-xs-7">
                    <h2 class="mt-0">Valoriza o seu trabalho</h2>
                    <p>Agrega mais profissionalismo ao seu <br class="visible-lg"/>job que já está perfeito!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="inteligente">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <img src="~/Content/sitefiles/img/!mail.png" border="0" class="pull-right mr-40"/>
                </div>
                <div class="col-xs-7">
                    <h2 class="mt-0">Inteligente</h2>
                    <p>A cada ação relacionada ao Job, você<br class="visible-lg"/>recebe notificações por e-mail.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="como-funciona bg-white">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="mt-0">Como funciona</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ol class="funciona-steps light mt-30 mb-20">
                        <li>Adicione um job;</li>
                        <li>Adicione um cliente;</li>
                        <li>Monte a proposta para o cliente;</li>
                        <li>Envie a proposta;</li>
                        <li>Aguarde a aprovação!</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <br /><br />
                    Não é necessário Cartão de Crédito.    
                </div>
                <div class="col-xs-12 text-center">
                    @Html.ActionLink("EXPERIMENTE GRÁTIS", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-lg semibold btn-free-test mt-20 mb-40" })
                </div>
            </div>
        </div>
    </section>