@{
    ViewBag.Title = "Preços";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<section class="bg-white price">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="mt-0">Preços</h2>
            <p class="lead text-center">Veja os planos abaixo, e escolha o que melhor se adapte a sua necessidade.</p>
        </div>
    </div>
    <div class="row mt-40">
        <div class="col-xs-4">
            <div class="jumbotron text-center mt-3">
                <h2>Basic</h2>
                <p class="text-center">Lorem Ipsum</p>
                    <ul class="list-group">
                        <li class="list-group-item">Clientes ilimitados</li>
                        <li class="list-group-item">3 Jobs/mês</li>
                        <li class="list-group-item">Sistema de aprovação</li>
                        <li class="list-group-item">Sistema de comentários</li>
                    </ul>
                    <h3>R$ 29,90 <small>p/ mês</small></h3>
                <p>
                    <div class="btn btn-block btn-primary">Experimentar Grátis!</div>
                </p>
            </div>
        </div>
        <div class="col-xs-4">
        <div class="jumbotron text-center recommend-plan">
            <h1 class="mt-0">Smart</h1>
            <p class="text-center">Dolor Sit</p>
                <ul class="list-group">
                    <li class="list-group-item">Clientes ilimitados</li>
                    <li class="list-group-item">10 Jobs/mês</li>
                    <li class="list-group-item">Sistema de aprovação</li>
                    <li class="list-group-item">Sistema de comentários</li>
                </ul>
            <h3>R$ 59,90 <small class="white">p/ mês</small></h3>
            <p>
                <div class="btn btn-block btn-success">Experimentar Grátis!</div>
            </p>
        </div>
        </div>
        <div class="col-xs-4">
        <div class="jumbotron text-center mt-3">
            <h2>Optimus</h2>
            <p class="text-center">Amet Lorem</p>
                <ul class="list-group">
                    <li class="list-group-item">Clientes ilimitados</li>
                    <li class="list-group-item">Jobs ilimitados</li>
                    <li class="list-group-item">Sistema de aprovação</li>
                    <li class="list-group-item">Sistema de comentários</li>
                </ul>
            <h3>R$ 79,90 <small>p/ mês</small></h3>
            <p>
                <div class="btn btn-block btn-primary">Experimentar Grátis!</div>
            </p>
        </div>
        </div>
    </div>
    </div>
</section>